
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<h4>@ViewBag.error</h4>
<a  class="btn btn-info" href="~/PruebaServicio/Correo" >Envío correos de info</a>
<a class="btn btn-danger" href="~/PruebaServicio/Delete">Elimina CV antiguos</a>




