<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="ApiPortalCandidato" value="http://10.20.56.22/portalCandidato/services/PortalCandidatoApi/api/"/>
    <add key="pathCv" value="G:/Uploads/"/>
  </appSettings>
</configuration>

