<?xml version="1.0" encoding="utf-8"?>

<!-- Para obtener más información para usar la transformación de Web.config, consulte http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    En el ejemplo siguiente, la transformación de "SetAttributes" cambiará el valor de
    "connectionString" para usar "ReleaseSQLServer" solo cuando el localizador "Match"
    encuentre un atributo "name" con el valor "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="apiSolicitud" value="http://localhost:64284/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiMonito" value="http://localhost:64223/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    <add key="apiCatalogoValores" value="http://localhost:64268/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiCalibraciones" value="http://localhost:64266/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiCapacity" value="http://localhost:64100/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiEstructura" value="http://localhost:64269/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiFormacionInicial" value="http://localhost:64270/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiPlanTQ" value="http://localhost:64279/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiMonitorizaciones" value="http://localhost:64274/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiURL" value="http://localhost:60049/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiPDI" value="http://localhost:58610/api/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiTest" value="http://localhost:63635/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiAlerta" value="http://localhost:58426/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiUI" value="http://localhost:63254/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiComunicados" value="http://localhost:57400/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiCampanas" value="http://localhost:60464/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiCalidadEtt" value="http://localhost:65337/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiAuditorias" value="http://localhost:51343/api/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />-->
  </appSettings>
  
  <system.web>
    <!--
      En el siguiente ejemplo, la transformación de "Replace" reemplazará toda la sección de
      <customErrors> del archivo Web.config.
      Tenga en cuenta que dado que solo hay una sesión customErrors en el nodo 
      <system.web>, no es necesario usar el atributo "xdt:Locator".

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  
  </system.web>
</configuration>
