<?xml version="1.0" encoding="utf-8"?>

<!-- Para obtener más información para usar la transformación de Web.config, consulte http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    En el ejemplo siguiente, la transformación de "SetAttributes" cambiará el valor de
    "connectionString" para usar "ReleaseSQLServer" solo cuando el localizador "Match"
    encuentre un atributo "name" con el valor "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="apiSolicitud" value="http://10.20.56.23/ExcelenziaV4/services/ApiSolicitud/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiMonito" value="http://10.20.56.23/ExcelenziaV4/services/ApiMonitorizaciones/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiCatalogoValores" value="http://10.20.56.23/ExcelenziaV4/services/ApiCatalogoValores/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiCalibraciones" value="http://10.20.56.23/ExcelenziaV4/services/ApiCalibraciones/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiCapacity" value="http://10.20.56.23/ExcelenziaV4/services/ApiCapacityPlan/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiEstructura" value="http://10.20.56.23/ExcelenziaV4/services/ApiEstructuraServicio/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiFormacionInicial" value="http://10.20.56.23/ExcelenziaV4/services/ApiFormacionInicial/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiPlanTQ" value="http://10.20.56.23/ExcelenziaV4/services/ApiPlanTQ/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiMonitorizaciones" value="http://10.20.56.23/ExcelenziaV4/services/ApiMonitorizaciones/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiURL" value="http://10.20.56.23/ExcelenziaV4/services/ApiDominio/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiPDI" value="http://10.20.56.23/ExcelenziaV4/services/apiPDI/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiTest" value="http://10.20.56.23/ExcelenziaV4/services/ApiTest/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiAlerta" value="http://10.20.56.23/ExcelenziaV4/services/ApiAlertas/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiUI" value="http://10.20.56.23/ExcelenziaV4/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiComunicados" value="http://10.20.56.23/ExcelenziaV4/services/ApiComunicados/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiCampanas" value="http://10.20.56.23/ExcelenziaV4/services/ApiCampanas/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiCalidadEtt" value="http://10.20.56.23/ExcelenziaV4/services/ApiCalidadEtt/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiAuditorias" value="http://10.20.56.23/ExcelenziaV4/services/ApiAuditorias/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiInformes" value="http://10.20.56.23/ExcelenziaV4/services/ApiInformes/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />-->
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      En el siguiente ejemplo, la transformación de "Replace" reemplazará toda la sección de
      <customErrors> del archivo Web.config.
      Tenga en cuenta que dado que solo hay una sesión customErrors en el nodo 
      <system.web>, no es necesario usar el atributo "xdt:Locator".

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
