<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="EmailNoreplay" value="noreply@arvato.es" />
    <add key="EmailPassword" value="Marronazo2013" />
    <add key="subjectMail" value="Horas Rechzadas"/>
    <add key="SmtpArvato" value="correo.arvato.es" />
    <add key="SmtpPort" value="25" />
    <add key="SSRSReportsFolder" value="TimeSheet" />
    <add key="URLReportServer" value="http://10.20.56.85\MSSQL2008/Reportserver"/>-->
    <add key="ApiURL" value="http://localhost:60049/" />
    <!--<add key="ApiURL" value="http://localhost/Timesheet/api/"/>-->
    <add key="ApiPortalCandidato" value="http://localhost:55229//api/"/>

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>